#main {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

#container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: 10px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f8f9fc;
    font-family: Inter, Roboto, Helvetica Neue, Arial, sans-serif;
    margin: 0;
}

th,td {
    padding: 8px 10px;
    text-align: left;
}

.help {
    font-size: 10pt;
}
